@import "tailwindcss";

/* Layout */

body,
html {
  color: #008000;
  background-color: #0c090d;
}

::selection {
  background: #008000;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: "Titillium Web", sans-serif;
}

a,
p {
  color: #008000;
  font-family: "Titillium Web", sans-serif;
}

h3 {
  color: #008000;
}

a,
a > p,
a > svg {
  color: #fff;
}

a:hover,
a > p:hover {
  color: #008000;
}

.button {
  color: #fff;
  background-color: #008000;
}

.button:hover {
  color: #008000;
  background-color: #fff;
}

/* Navigation */

.copyright {
  color: #fff;
}
