@import "tailwindcss";
body,
html {
  color: oklch(0.65 0.18 132);
  background-color: oklch(0.2 0 0);
  font-family: "Titillium Web", sans-serif;
}
::selection {
  background: oklch(0.65 0.18 132);
}
